ketchup-button {
  button {
    background: #4e908f;
    border: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: none;
    white-space: nowrap;
    padding: 0px 8px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;

    > .button-icon {
      float: left;
      display: block;
      width: 18px;
    }

    &.rounded {
      border-radius: 15px;
    }

    &.transparent {
      background-color: transparent;
      border: 1px solid gray;
      color: gray;
    }
  }

  &.fillspace {
    width: 100%;

    > button {
      width: 100%;
    }
  }
}