ketchup-btn {
  .btn-container {
    border-collapse: collapse;

    tbody {
      tr {
        td {
          padding: 3px;

          > ketchup-button {
            margin: 3px;
          }
        }
      }
    }

    &.fillspace {
      width: 100%;
    }

    &.vertical {
      flex-direction: column;
    }
  }
}
