ketchup-btn {
  .btn-container {
    display: flex;

    > ketchup-button {
      margin: 3px;
    }

    &.fillspace {
      width: 100%;
    }

    &.vertical {
      flex-direction: column;
    }
  }
}